<div id="success">

<h1>Success!!!</h1>

    <h4>Your message has been sent. A specialist will contact you as soon as possible. Thank you!</h4>

    <h4>Your full name is: </h4> <h4 class="username"> <%= @firstname %> <%= @lastname %> </h4>
    <h4>You're located in the: </h4> <h4 class="country"> <%= @country %> </h4>
    <h4>Your email address is: </h4> <h4 class="country"> <%= @email %> </h4>
    <h4>Your original message:  </h4> <h4 class="message"> <%= @subject %> </h4>

</div>
